<div class="pull-right pagination">
    <ul class="pagination">
        <li class="page-first disabled"><a href="javascript:void(0)">«</a></li>
        <li class="page-pre disabled"><a href="javascript:void(0)">‹</a></li>
		{{#pageArray}}
        <li class="page-number active"><a href="javascript:void(0)">{{index}}</a></li>
        <li class="page-number"><a href="javascript:void(0)">2</a></li>
		{{/pageArray}}
        <li class="page-next"><a href="javascript:void(0)">›</a></li>
        <li class="page-last"><a href="javascript:void(0)">»</a></li>
    </ul>
</div>
